body{
  background-color: #adcbe3;
}

.wrapper{
  position: absolute;
  left: 5%;
  top: 40%;
  transform: translate (-50%, -50%);
}
h1{
  color: #fff;
  font-family: 'Courier New', monospace;
  font-weight: bold;
  text-transform: capitalize;
  font-size: 7em;
  margin: 10px 0;
  letter-spacing: .1rem;
  overflow: hidden;
}

.content span:nth-child(1){
  position: relative;
  animation: animate 2s;
  animation-fill-mode: backwards;
}

.content span:nth-child(2){
  position: relative;
  animation: animate 2s;
  animation-delay: 0.15s;
  animation-fill-mode: backwards;
}

.content span:nth-child(3){
  position: relative;
  animation: animate 2s;
  animation-delay: 0.3s;
  animation-fill-mode: backwards;
}

.content span:nth-child(4){
  position: relative;
  animation: animate 2s;
  animation-delay: 0.45s;
  animation-fill-mode: backwards;
}

.content span:nth-child(5){
  position: relative;
  animation: animate 2s;
  animation-delay: 0.6s;
  animation-fill-mode: backwards;
}

.content span:nth-child(6){
  position: relative;
  animation: animate 2s;
  animation-delay: 0.75s;
  animation-fill-mode: backwards;
}

@keyframes animate{
  0%{
    bottom: -100px;
  }
  100%{
    bottom: 0;
  }
}
  
  
